/*
Relaxr Landing Page: Part 1
==================

We'll be working on this site for the next three classes, just a heads up.

For today, we'll be making a simplified version of the site which uses only one column. Your job is to build out the CSS - using the information below - for the page!

---

benefits background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans (Google Font: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)
Weight: Light, Light Italic, Semibold, Extrabold

font-weight light = 300
font-weight 600 = semibold
font-weight 700 = bold
font-weight 800 = extrabold

"Relaxr" - Extra bold, 24px
"Get piece of mind with a single tap" - Semibold, 24px
"Get it Now" - Extra bold, 14px. 5px border radius
"Benefits" - Semibold, 20px
"The perfect personal assistant. Relaxr does your job for you so you can enjoy life as it is meant to be." - Light, 13px
• Schedule meetings for you
• Excel automation to complete your work for you
• Responds to emails on your behalf
• Does all your work for you with our revolutionary AI technology" - Light, 13px

"“Relaxr changed my life. I’ve been able to travel the world, spend limited time working and my boss keeps thanking me for crushing work.”" - Light Italic, 18px
"- Amanda, Intuit " - semibold, 18px

"Sign Up Now!" - extra bold, 12px, 5px border radius

Relaxr - extra bold, 24px
"Copyright 2015. Relaxr." - 9px, semibold
*/
.content{
	width: 1200px;
	padding-left: 60px;
	padding-right: 60px;
}

header{
	background-color: #606161;
	height: 700px;
	background-repeat: no-repeat;
	background-image: url("../images/header_bg.jpg");
}

header nav{
	padding-top: 30px;
}

header > p{
	font-size: 24px;
}

h3{
	font-size: 20px;
}

.benefits > p{
	font-size: 13px;
	font-weight: 600;
}

.benefits > ul > li{
	font-size: 13px;
}

.title{
	font-size: 24px;
	font-weight: 800;
}

.get-it{
	font-weight: 800;
	font-size: 14px;
}
.yellow{
	color: #f9e42e;
}

.quotes{
	font-size: 18px;
	text-align: center;
}

.sign-up{
	font-size: 12px;
}

.social-media{
	background-color: #033048;
}

footer{
	background-color: #033048;
	text-align: center;
}

}
footer > div.title{
	text-align: center;
}